@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 30px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 15px 0px;
}

.header{ 
  display: flex;
  justify-content: space-between;
}

/* this removes the line under our links 
  text-decoration: none;
  list-style-type: none; */
 
ul {
  list-style-type: none;
  display: flex;
  
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #808080;
}

.content{
 height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}